---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Category from "@/components/Category.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import getUniqueCategories from "@/utils/getUniqueCategories";
import { SITE } from "@/config";

const posts = await getCollection("blog");

let categories = getUniqueCategories(posts);
---

<Layout title={`Categories | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Categories" pageDesc="All the categories used in posts.">
    <ul>
      {categories.map(({ category, categoryName }) => <Category {category} {categoryName} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
