---
export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name, size = "sm" } = Astro.props;
---

<li
  class={`inline-block ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"
  }`}
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class={`${size === "sm" ? " scale-75" : "scale-110"}`}
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path
      d="M5 4h4l3 3h7a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2"
    ></path>
  </svg>
  <a
    href={`/categories/${name.toLowerCase()}`}
    class={`${size === "sm" ? "pr-1 text-sm" : "pr-2 text-lg"} group`}
  >
    <span>{name}</span>
  </a>
</li>

<style>
  a {
    @apply underline hover:text-skin-accent relative hover:-top-0.5 focus-visible:p-1;
  }
  a svg {
    @apply w-6 h-6 text-skin-base scale-95 opacity-80 -mr-5 group-hover:fill-skin-accent;
  }
</style>
