---
import site from "../data/site.json";
import SkillItem from "./SkillItem.astro";
const { skills } = site;
---

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
/>
<section id="skills">
  <div class="skills">
    {skills.map((item) => <SkillItem item={item} />)}
  </div>
</section>
<style>
  .skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem 0;
    @media (min-width: 700px) {
      grid-template-columns: repeat(12, 1fr);
    }
    @media (min-width: 600px) {
      grid-template-columns: repeat(8, 1fr);
    }
  }
</style>
