---
import { Icon } from "astro-icon";
const { item } = Astro.props;
---

<div class="skills-item tooltip-container">
  <Icon class="h-16 w-16" name={item.icon} title={item.name} />
</div>
<style>
  .skills-item {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills-item i {
    color: teal;
    font-size: 2rem;
  }
</style>
