---
import { SOCIALS } from "src/config";
import { Icon } from 'astro-icon';
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
---

<div class={`social-icons ${centered ? "flex" : ""}`}>
  {
    SOCIALS.map((social) => (
      <LinkButton
        href={social.href}
        className="link-button"
        title={social.name}
      >
        <Icon pack="mdi" name={social.name} />
      </LinkButton>
    ))
  }
</div>

<style>
  .social-icons {
    @apply flex-wrap justify-center gap-1;
  }
  .link-button {
    @apply p-2 sm:p-1 hover:rotate-6;
  }
</style>
